body,
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.navbar-left {
  width: 7%;
  height: 7%;
}

.nav-item {
  margin: 0 10px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar
{
  background-color: #EFCC52;
}

img#img01,
img#img02,
img#img03 {
  max-width: 1600px;
  max-height: 400px;
  width: auto;
}

footer, .container-fluid {
  margin-top: auto;
  background-color: #EFCC52;
}

a#linkproject1, a#linkproject2, a#linkproject3, a#linkproject4 {
  color: currentColor;
}